body {
  font-family: 'Roboto Mono', monospace;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navbar img{
  padding-right: 20px;
}
.nav-items{
  display: flex;
  list-style: none;
  margin-left: auto

}
.nav-items li{
  padding-left: 15px;
  padding-right: 15px;
}
