body {
  font-family: 'Roboto Mono', monospace;
}
.navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 5px 25px 5px;
}
.navbar img{
  margin-right: 20px;
}
.nav-items{
  display: flex;
  list-style: none;
  margin-left: auto;
}
.nav-items li{
  padding-left: 15px;
  padding-right: 15px;
}

#content {
  margin-right: auto;
  margin-left: auto;
  padding: 0 7rem 0 7rem;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .navbar{
    justify-content: center;
  }
  .nav-items {
    display: block;
    margin-left: -40px ;
    width: 100%;

  }
  .nav-items li{
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    border-bottom: 1px solid grey;
  }
  .nav-items li:first-child{
        border-top: 1px solid grey;
  }
  #content {
    margin-right: 20px;
    margin-left: 20px;
  }
}




.banner {
  display: flex;
  min-height: 200px;
  background-image: url('assets/img/banner.jpg');
  justify-content: center;
  align-items: center;
  margin: 0 -10px 0 -10px;
  color: white;
}
